<div class="added-to-cart-model">
    <div class="img-wrap">
        <img src="https://cdn.shopify.com/s/files/1/0231/8162/3374/products/STL-213-AQUA-front-01_600x.jpg?v=1595795520 " alt="" width height loading="lazy" />
    </div>
    <div class="container-wrap">
        <h2 class="p-title">Abstract Print Short Sleeves Woven Shirt - Seafoam</h2>
        <div class="b-wrap">
            <p>Added to bag</p>
            <a href="/cart"  data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="Open cart">View</a>
        </div>
    </div>
</div>